{% extends ':todolist:base.html.twig' %}

{% block body %}
    <div><a href="{{ path('add-task') }}">Add new task</a></div>
    <div>
        {% for task in tasks %}
            <hr>
            <div>
                <p {% if task.done %}style="color: green"{% endif %}>
                    {{ task.time|date('Y-m-d') }} - <strong>{{ task.title }}</strong>
                </p>
                {% if task.done %}
                    <a href="{{ path('markdone-task', {'id': task.id}) }}">done</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}